@font-face {
  font-family: "Flappy Font";
  src: url("./flappy-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Flappy Font";
}

canvas {
  border: 2px solid #303030;
}
